table{border-collapse: collapse;}
        th, td{
            border: 1px solid black;
            padding: 8px;
        }

.right-align{
    float: right;
}

.listheaders{
    font-size: 20px;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

.categories {
    list-style-type: none;
}