table{
    border-collapse: collapse;
    width: 90%;
}

th, td{
    border: 1px solid black;
    padding: 8px;
}

.right-align{
    float: right;
}

.footercenter{
    text-align: center;
}

.listheaders{
    font-size: 20px;
}

nav {
    text-align: center;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

.categories {
    list-style-type: none;
}

img {
    width: 40%;
    height: 40%;
}

.TablePictureTogether{
    display: flex;
}